<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/api/v1/get-students">
        <button>show all students</button>
      </a>
      <a href="/student">
        <button>add student</button>
      </a>
    <button>filter students</button>
    <button>search</button>
    <button>updatea student</button>
    <button>delete a student</button>
</body>
</html>